mixin ui-color({ title = "", value, opacity = 100 })
  - const className = "ui-color";

  div(class = className)
    div(
      class = `${className}__box`
      style = `opacity: ${opacity/100}; background: ${value}`
    )
    div(class = `${className}__description`)
      div(class = `${className}__title`)= title
      div(class = `${className}__value`)= value
