mixin ui-text-types(types)
  -
    const typesModifiers = (selector) => ({
      h1: `${selector}_type_h1`,
      h2: `${selector}_type_h2`,
      h3: `${selector}_type_h3`,
    });

  section.ui-text-types
    h2.ui-text-types__title Вариации текста

    .ui-text-types__wrapper(lang = "en")
      each item in types
        -
          const { type, head, content } = item;

          const headClasses = [
            'ui-text-types__head',
            typesModifiers('ui-text-types__head')[type],
          ];

          const contentClasses = [
            'ui-text-types__content',
            typesModifiers('ui-text-types__content')[type],
          ];

        div(class = headClasses)= head
        div(class = contentClasses)= content
