mixin ui-text-types(types)
  - const className = 'ui-text-types';

  div(class = className)
    div(class = `${className}__wrapper`)
      each item in types
        -
          let titleClass = `${className}__title`;
          let contentClass = `${className}__content`;

          (item.size === 'large' || item.size === 'medium' || item.size === 'small')
            && (titleClass += ` ${titleClass}_size_${item.size}`)
            && (contentClass += ` ${contentClass}_size_${item.size}`)

        div(class = titleClass)= item.title
        div(class = contentClass) !{item.content}
