mixin ui-text-types(types)
  -
    const typesModifiers = (selector) => ({
      h1: `${selector}_type_h1`,
      h2: `${selector}_type_h2`,
      h3: `${selector}_type_h3`,
    });

  .ui-text-types
    .ui-text-types__wrapper
      each item in types
        -
          const titleClasses = [
            'ui-text-types__title',
            typesModifiers('ui-text-types__title')[item.type],
          ];

          const contentClasses = [
            'ui-text-types__content',
            typesModifiers('ui-text-types__content')[item.type],
          ];

        div(class = `${titleClasses.join(' ')}`)= item.title
        div(class = `${contentClasses.join(' ')}`) !{item.content}
