mixin ui-text-types(types)
  -
    const className = 'ui-text-types';
    const typesModifiers = (selector) => ({
      h1: `${selector}_type_h1`,
      h2: `${selector}_type_h2`,
      h3: `${selector}_type_h3`,
    });

  div(class = className)
    div(class = `${className}__wrapper`)
      each item in types
        -
          const titleClasses = [
            `${className}__title`,
            typesModifiers(`${className}__title`)[item.type],
          ];

          const contentClasses = [
            `${className}__content`,
            typesModifiers(`${className}__content`)[item.type],
          ];

        div(class = `${titleClasses.join(' ')}`)= item.title
        div(class = `${contentClasses.join(' ')}`) !{item.content}
