mixin ui-text-types(types)
  -
    const typesModifiers = (selector) => ({
      h1: `${selector}_type_h1`,
      h2: `${selector}_type_h2`,
      h3: `${selector}_type_h3`,
    });

  .ui-text-types
    .ui-text-types__wrapper
      each item in types
        -
          const { type, title, content } = item;

          const titleClasses = [
            'ui-text-types__title',
            typesModifiers('ui-text-types__title')[type],
          ];

          const contentClasses = [
            'ui-text-types__content',
            typesModifiers('ui-text-types__content')[type],
          ];

        div(class = titleClasses)= title
        div(class = contentClasses) !{content}
