mixin ui-text-types
  -
    const types = require('@components/ui-text-types/data.json');
    const typesModifiers = (selector) => ({
      h1: `${selector}_type_h1`,
      h2: `${selector}_type_h2`,
      h3: `${selector}_type_h3`,
    });

  section.ui-text-types
    h2.ui-text-types__title Вариации текста

    .ui-text-types__wrapper(lang = "en")
      each i in types
        -
          const { type, item, example } = i;

          const itemClasses = [
            'ui-text-types__item',
            typesModifiers('ui-text-types__item')[type],
          ];

          const exampleClasses = [
            'ui-text-types__example',
            typesModifiers('ui-text-types__example')[type],
          ];

        div(class = itemClasses)= item
        div(class = exampleClasses)= example
