include ../star-rating/star-rating
include ../price/price

mixin card-data({ id, reviews = 0, price = 1000, rating = 1, type = "standart" })
  -
    const className = "card-data";
    const isLuxury = type === "luxury";

  div(class = `${className} js-card-data`)
    div(class = `${className}__header`)
      div(class = `${className}__id`)
        | №&nbsp;
        span(class = `${className}__decorated-id`)= id
        if isLuxury
          span(class = `${className}__type`) люкс

      +price({ value: price, text: "в сутки" })

    div(class = `${className}__separator`)

    div(class = `${className}__footer`)
      +star-rating({ rating })

      div(class = `${className}__reviews`)
        b= reviews
        |  Отзывов
