include ../star-rating/star-rating
include ../card-info/card-info
include ../price/price

mixin card-data({ id, reviews = 0, price = 1000, rating = 1, type = "standart" })
  -
    const className = "card-data";
    const isLuxury = type === "luxury";

  div(class = `${className} js-card-data`)
    div(class = `${className}__header`)
      +card-info({ id, type })
      +price({ value: price, text: "в сутки" })

    div(class = `${className}__separator`)

    div(class = `${className}__footer`)
      +star-rating({ rating })

      div(class = `${className}__reviews`)
        b= reviews
        |  Отзывов
