mixin card-slider({ images })
  - const className = 'card-slider';

  div(class = `${className} js-card-slider swiper-container`)

    div(class = "swiper-wrapper")
      each image in images
        div(class = `${className}__slide swiper-slide`)
          img(class = `${className}__slide-img swiper-lazy` src = image.url alt = image.alt)
          div(class = "swiper-lazy-preloader swiper-lazy-preloader-white")

    div(class = `${className}__button-prev`)
    div(class = `${className}__button-next`)
    div(class = `${className}__pagination swiper-pagination`)

